beautifulsoup4==4.12.3
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
imblearn==0.0
Jinja2==3.1.4
matplotlib==3.9.2
notebook==7.2.2
numpy==2.0.2
pandas==2.2.3
pillow==11.0.0
pipenv==2024.4.0
requests==2.32.3
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
SQLAlchemy==2.0.36
tensorflow==2.18.0